nav{
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 50%;
  height: 70px;
  margin-bottom: 20px;
}
nav>ul{
  display: flex;
  justify-content: center;
}
nav li{
  list-style: none;
  margin-right: 15px;
}
nav li:hover{
  background-color: rgb(115, 101, 101);
}
nav li a{
  text-decoration: none;
  color: rgb(89, 170, 229);
}

li{
  list-style: none;
}
.nested{
  display: none;
  list-style: none;
  background-color: rgb(62, 50, 35);
  position: absolute;
  padding-right: 30px;
  border: 0.2px solid white;
  border-radius: 10%;
}

li:hover .nested{
  display: block;

}
li .nested li:hover{
  background-color: rgb(107, 107, 146);
}